
toile{
 position: fixed;
 left:30%;
 top: 1cm;
 width: 15cm;
 height: 22.5cm;
 border: .2cm solid red;
 background: white;
}
carre{
  position: absolute;
  top:2cm;
  left: 2cm;
  background: red;
  width: 6cm;
  height: 14cm;
  border-radius:51% 49% 0% 100% / 57% 100% 0% 43%;
}
carre-bottom{
  position: absolute;
  top:12cm;
  left: 4.9cm;
  background: red;
  width: 9cm;
  height: 4cm;
  border-radius:0% 100% 0% 100% / 84% 100% 0% 16% ;
}
circle{
  position: absolute;
  top:5cm;
  left: 2.5cm;
  background:yellow;
  width: 1cm;
  height: 14cm;
}
cube{
  position: absolute;
  top:2cm;
  left: 5.5cm;
  background:blue;
  width: 4cm;
  height: 5cm;
}
yeux{
  width: 2cm;
  height: 2cm;
  position: absolute;
  top:5cm;
  left: 5cm;
  border: 2px solid black;
  border-radius:31% 69% 68% 32% / 63% 63% 37% 37%;
  background: black;
}
pupille{
  animation: keny alternate 1s;
  border-radius:31% 69% 68% 32% / 63% 63% 37% 37%;
  position: absolute;
  top:30px;
  width: 1cm;
  height: 1cm;
  background: black;
  border:7px solid blue
}
@keyframes keny {
    0% {
    }
    50% {
        background: red;
        border: 10px blue solid;
    }
    100% {
        transform: translateX(5px);
    }
}
yeux-left{
  width: 2cm;
  height: 2cm;
  position: absolute;
  top:5cm;
  left: 3cm;
  border: 2px solid black;
  border-radius:31% 69% 68% 32% / 63% 63% 37% 37%;
  background: black;
}
noise{
  left: 2.6cm;
  top: 7cm;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 90px solid black;
  border-bottom: 50px solid transparent;
}
bouche{
  display:block;
  position: absolute;
  top:9cm;
  left: 3.5cm;
  width: 96px;
  height: 48px;
  background-color: red;
  border: .3cm solid black;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
